@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User?.Identity?.Name</h1>
    <p>You authenticated with @User?.Identity?.AuthenticationType</p>
</div>
